# ignore all
*

# except!
!.gitignore
!bash/
!bash/**
!git/
!git/**
!kitty/
!kitty/**
!neovide/
!neovide/**
!nvim/
!nvim/**
# !wezterm/ # fuck they
# !wezterm/**
!yazi/
!yazi/**
# !zellij/ # fuck they
# !zellij/**
!ghostty/
!ghostty/**
!zed/
!zed/**

# but ignore these anyway!
**/*.log~                                                                                                                                                                                                                                             
~                                                                                                                                                                                                                                             
~                                                                                                                                                                                                                                             
~                                                                                                                                                                                                                                             

# this is for work onleyh
kitty/work_env.conf
