# ignore all
*

# except!
!.gitignore
!bash/
!bash/**
!git/
!git/**
!kitty/
!kitty/**
!neovide/
!neovide/**
!nvim/
!nvim/**
!yazi/
!yazi/**
!ghostty/
!ghostty/**
!zed/
!zed/**
!opencode/**
!moxide/
!moxide/**
!waybar/
!waybar/**
!hypr/
!hypr/**
!rofi/
!rofi/**

kitty/sessions/**
!kitty/sessions/main.kitty-session

# but ignore these anyway!
**/*.log~                                                                                                                                                                                                                                             

# this is for work onleyh
kitty/work_env.conf
nvim/nvim-pack-lock.json
