# ignore all
*

# except!
!.gitignore
!bash/
!bash/**
!git/
!git/**
!kitty/
!kitty/**
!neovide/
!neovide/**
!nvim/
!nvim/**
!yazi/
!yazi/**
!ghostty/
!ghostty/**
!zed/
!zed/**
!opencode/**

# but ignore these anyway!
**/*.log~                                                                                                                                                                                                                                             

# this is for work onleyh
kitty/work_env.conf
nvim/nvim-pack-lock.json
